<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <meta-data
        android:name="zain"
        android:resource="@string/no_results"
    />
        <activity android:name="com.zainco.library.free.debug.FreeActivity">
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>
    </application>
</manifest>
