*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/hs_err_pid328.log
/hs_err_pid2732.log
/hs_err_pid8236.log
/hs_err_pid8944.log
/replay_pid328.log
/replay_pid2732.log
/replay_pid8236.log
/replay_pid8944.log
