<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zainco.library">
    <!--
     RECEIVE_BOOT_COMPLETED  used for this receiver
    <receiver android:name=".ExampleBroadcastReceiver">
                <intent-filter>
                    <action android:name="android.intent.action.BOOT_COMPLETED" />
    -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" /> <!-- call recorder ex 2 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" /> <!-- to starttforegroundservice if u target sdk 28 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".salaty.SalatyApplicationClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".coroutines.androiddevs.LifecyclescopeViewmodelscopeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".androidstudioactvs.ASScrollingActivity"
            android:label="@string/title_activity_a_s_scrolling"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".androidstudioactvs.BottomNavigationActivity"
            android:label="@string/title_activity_bottom_navigation" />
        <activity android:name=".androidstudioactvs.fragandviewmodel.FragAndViewModelActivity" />
        <activity
            android:name=".androidstudioactvs.basicactivity.ASBasicActivity"
            android:label="@string/title_activity_a_s_basic"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".androidstudioactvs.NavDrawerActivity"
            android:label="@string/title_activity_nav_drawer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".androidstudioactvs.ASNavDrawerActivity"
            android:label="@string/title_activity_a_s_nav_drawer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".androidstudioactvs.masterdetailflow.ItemListActivity"
            android:label="@string/title_item_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".androidstudioactvs.masterdetailflow.ItemDetailActivity"
            android:label="@string/title_item_detail"
            android:parentActivityName=".androidstudioactvs.masterdetailflow.ItemListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.zainco.library.androidstudioactvs.masterdetailflow.ItemListActivity" />
        </activity>
        <activity android:name=".databinding.vogellabaseadapter.BaseAdapterExampleFirstActivity" />
        <activity android:name=".coroutines.androiddevs.AsyncAndAwaitActivity" />
        <activity android:name=".coroutines.androiddevs.JobsWaitingCancelationActivity" />
        <activity android:name=".databinding.alimuzaffar.formemailvalidation.login.LoginActivity" />
        <activity android:name=".databinding.vogellabaseadapter.BaseAdapterExampleSecondActivity" />
        <activity android:name=".coroutines.androiddevs.CoroutinesActivity" />
        <activity android:name=".fab.FabActivity" />
        <activity android:name=".espressotest.EsspressoMainActivity" />
        <activity
            android:name=".salaty.ui.fragments.ScrollingActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".mediaplayer.PlayPauseActivity" />
        <activity android:name=".services.neverending.NeverEndingActivity" />

        <receiver
            android:name=".salaty.AzanBroadcastReceiver"
            android:exported="true" />

        <activity android:name=".salaty.ui.AzanActivity" />
        <activity android:name=".githubbrowsersample.GithubBrowserSampleSearchActivity" />
        <activity android:name=".services.codinginflow.ForegroundServiceActivity" />
        <activity android:name=".notifications.codinginflow.NotificationsCodingInFlowActivity" />

        <receiver android:name=".broadcastreceiver.pluralsight.withpermissions.IncomingReceiver">
            <intent-filter>

                <!-- EXTRS_INCOMING_NUMBER TO know the number of who called me -->
                <!-- requires     <uses-permission android:name="android.permission.READ_PHONE_STATE" /> -->
                <!-- whenever we receive a phone call this BR will be triggered -->
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>

        <activity android:name=".broadcastreceiver.pluralsight.withpermissions.ReadPhoneStateActivity" />
        <activity android:name=".broadcastreceiver.pluralsight.sticky.StickyActivity" />
        <activity android:name=".broadcastreceiver.pluralsight.dynamicreceiver.DynamicReceiverActivity" />
        <activity android:name=".broadcastreceiver.pluralsight.orderedbrs.OrderedBRsActivity" />
        <activity android:name=".broadcastreceiver.pluralsight.BroadcastReceiverActivity" />

        <service
            android:name=".accessibility.GlobalActionBarService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/global_action_bar_service" />
        </service>

        <activity android:name=".audiorecord.edmt.AudioRecordEDMTActivity" /> <!-- call recorder -->
        <activity android:name=".callrecord.example2.CallRecorderExample2MainActivity" />
        <activity
            android:name=".callrecord.example2.SettingsActivity"
            android:label="@string/menu_settings"
            android:parentActivityName=".callrecord.example2.CallRecorderExample2MainActivity" />
        <activity
            android:name=".callrecord.example2.DirectoryChooserActivity"
            android:label="@string/app_name"
            android:parentActivityName=".callrecord.example2.SettingsActivity" />
        <activity
            android:name=".callrecord.example2.AboutActivity"
            android:label="@string/app_name"
            android:parentActivityName=".callrecord.example2.CallRecorderExample2MainActivity" />

        <receiver android:name=".callrecord.example2.PhoneReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
            </intent-filter>
        </receiver>

        <service android:name=".callrecord.example2.RecordService" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.callrecorder.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider> <!-- ////////////////////// -->
        <service
            android:name=".services.pluralsight.ipc.MyMessengerService"
            android:process=":my_own_process" />

        <activity android:name=".services.pluralsight.ipc.MyMessengerActivity" />
        <activity android:name=".permissions.outgoingcalls.OutgoinCallActivity" />
        <activity android:name=".services.pluralsight.boundservice.BoundServicePluralSightActivity" />
        <activity android:name=".services.pluralsight.PluralSightServicesActivity" />
        <activity android:name=".threading.codinginflow.ExampleLooperThreadActivity" />
        <activity android:name=".onnewintent.OnNewIntentActivity2" />
        <activity android:name=".onnewintent.OnNewIntentActivity1" />
        <activity android:name=".permissions.internalexternalstorage.InternalExternalPermissionsActivity" />
        <activity android:name=".workmanager.codelab.SelectImageActivity" />
        <activity android:name=".workmanager.codelab.WorkManagerBlurrActivity" />
        <activity android:name=".workmanager.simplifiedcoding.WorkManagerActivity" />
        <activity android:name=".workmanager.socialmedia.HumanConnectorActivity" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity android:name=".facebooksdk.FacebookSdkActivity" />
        <activity android:name=".jobscheduler.JobSchedulerActivity" />
        <activity android:name=".permissions.phonecall.PhoneCallPermissionActivity" />

        <meta-data
            android:name="zain"
            android:resource="@string/no_results" />

        <activity android:name=".archcomponents.paging.ui.popularmovie.MoviesListActivity" />
        <activity android:name=".archcomponents.paging.ui.singlemoviedetails.SingleMovieActivity" />
        <activity android:name=".threading.codinginflow.HandlerActivity" />
        <activity android:name=".threading.codinginflow.ThreadActivity" />
        <activity android:name=".firebase.remoteconfig.RemoteConfigEDMTVActivity" />
        <activity android:name=".permissions.PermissionsActivity" />
        <activity android:name=".texttospeech.TextToSpeechActivity" />
        <activity android:name=".dagger.mitch.ui.main.MitchDaggerMainActivity" />
        <activity android:name=".archcomponents.livedata.livedatatransformations.mediator.MediatorLiveDataActivity" />
        <activity android:name=".archcomponents.livedata.livedatatransformations.PokemonActivity" />
        <activity android:name=".archcomponents.livedata.livedatatransformations.PokemonDetailActivity" />
        <activity android:name=".archcomponents.livedata.extendinglivedatausingsensor.SensorLiveDataActivity" />
        <activity android:name=".rxjava2.hotobservables.HotObservablesActivity" />
        <activity android:name=".archcomponents.lifecycle.casterio.deepdive.LifecycleActivity" />
        <activity android:name=".dagger.mitch.ui.auth.AuthActivity" />
        <activity
            android:name=".databinding.ex2.view.ProfileActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".databinding.ex1.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".archcomponents.livedata.casterionewslist.NewsActivity" />
        <activity android:name=".highorderedfunandedittextlisteners.ui.SearchRepositoriesActivity" />
        <activity android:name=".archcomponents.paginganddatabinding.ui.search.SearchActivity" />
        <activity android:name=".archcomponents.paginganddatabinding.ui.bookmark.BookmarkActivity" />
        <activity android:name=".databinding.alimuzaffar.mvvmloadingbaseobservable.DogBreedsActivity"></activity>
        <activity android:name=".databinding.livedatavsobservable_databindingbasicsample.ui.DataBindingTypesActivity" />
        <activity android:name=".databinding.livedatavsobservable_databindingbasicsample.ui.ViewModelActivity" />
        <activity android:name=".databinding.livedatavsobservable_databindingbasicsample.ui.ObservableFieldActivity" />
        <activity android:name=".multicheckrecyclerview.MultiCheckRecyclerActivity" />
        <activity android:name=".threading.codinginflow.RunOnUiThreadActivity" />
        <activity android:name=".permissions.CameraPreviewActivity" />
        <activity android:name=".callrecord.CallRecordActivity" />
        <activity android:name=".permissions.mywork.PermissionsActivity" />

        <service
            android:name=".jobscheduler.ExampleJobService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service android:name=".services.pluralsight.MyStartedService" />
        <service android:name=".services.pluralsight.MyIntentService" />
        <service android:name=".callrecord.RecordingService" />
        <!--
  this my_own_process is the name of the service inwhich the MYBoundService will run
       <service android:name=".services.pluralsight.boundservice.MyBoundService"  android:process=":my_own_process"/>
        -->
        <service android:name=".services.pluralsight.boundservice.MyBoundService" />
        <service
            android:name=".permissions.outgoingcalls.CallDetectionService"
            android:enabled="true"
            android:exported="false" />
        <service android:name=".services.codinginflow.ExampleService" />
        <service android:name=".salaty.AzanService" /> <!-- should make all brs android:exported="false" because it is by default true -->
        <receiver android:name=".permissions.outgoingcalls.CallDetector$OutgoingDetector" />
        <receiver android:name=".broadcastreceiver.pluralsight.MyFirstReceiver">
            <intent-filter>
                <action android:name="my.custom.action.name" />
                <action android:name="my.custom.action.name2" />
            </intent-filter>
        </receiver>
        <receiver android:name=".broadcastreceiver.codinginflow.ExampleBroadcastReceiver">
            <intent-filter>

                <!-- needs the upper permission -->
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver> <!-- start of   same action name for the next 3 receivers -->
        <receiver android:name=".broadcastreceiver.pluralsight.orderedbrs.OrderedReceiver1">
            <intent-filter android:priority="3">

                <!-- higher priority execution firstly with same action name -->
                <action android:name="my.action.name" />
            </intent-filter>
        </receiver>
        <receiver android:name=".broadcastreceiver.pluralsight.orderedbrs.OrderedReceiver3">
            <intent-filter android:priority="2">
                <action android:name="my.action.name" />
            </intent-filter>
        </receiver>
        <receiver android:name=".broadcastreceiver.pluralsight.orderedbrs.OrderedReceiver2">
            <intent-filter android:priority="1">
                <action android:name="my.action.name" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".broadcastreceiver.pluralsight.orderedbrs.OrderedResultReceiver"
            android:exported="false">
            <intent-filter>

                <!-- no priority -->
                <action android:name="my.action.name" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".services.neverending.SensorRestarterBroadcastReceiver"
            android:enabled="true"
            android:exported="true"
            android:label="RestartServiceWhenStopped" />

        <service android:name=".services.neverending.SensorService" />
    </application>

</manifest>