<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zainco.library">
    <!--
     RECEIVE_BOOT_COMPLETED  used for this receiver
    <receiver android:name=".ExampleBroadcastReceiver">
                <intent-filter>
                    <action android:name="android.intent.action.BOOT_COMPLETED" />
    -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" /> <!-- call recorder ex 2 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" /> <!-- to starttforegroundservice if u target sdk 28 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" /> <!-- api 29: explicitly request location permission from user in a service if you are tracking his location in the background -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" /> <!-- is only needed starting with android Q, but before we were tracking the location by default -->
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:name=".androiddevsrunningtracker.MvvmRunningTrackerBaseApplication"
        android:allowBackup="true"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MvvmRunningAppTheme">
        <activity android:name=".wifiscanner.tutorialspoint.WifiScannerActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
       <!-- <activity
            android:name=".NavDrawerActivity"
            android:label="@string/title_activity_nav_drawer"
            android:theme="@style/MvvmRunningAppTheme.NoActionBar"></activity>-->
        <activity android:name=".coroutines.androiddevs.CoroutinesActivity" />
        <activity android:name=".DeviceIdActivity" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />

        <activity android:name=".androiddevsrunningtracker.ui.MvvmRunningTrackerActivity" />
        <activity
            android:name=".androidstudioactvs.ASScrollingActivity"
            android:label="@string/title_activity_a_s_scrolling"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".androidstudioactvs.fragandviewmodel.FragAndViewModelActivity" />
        <activity
            android:name=".androidstudioactvs.basicactivity.ASBasicActivity"
            android:label="@string/title_activity_a_s_basic"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".androidstudioactvs.masterdetailflow.ItemListActivity"
            android:label="@string/title_item_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".androidstudioactvs.masterdetailflow.ItemDetailActivity"
            android:label="@string/title_item_detail"
            android:parentActivityName=".androidstudioactvs.masterdetailflow.ItemListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.zainco.library.androidstudioactvs.masterdetailflow.ItemListActivity" />
        </activity>
        <!--
<receiver android:name=".broadcastreceiver.pluralsight.withpermissions.IncomingReceiver">
            <intent-filter  android:priority="999">

                &lt;!&ndash; EXTRS_INCOMING_NUMBER TO know the number of who called me &ndash;&gt;
                &lt;!&ndash; requires     <uses-permission android:name="android.permission.READ_PHONE_STATE" /> &ndash;&gt;
                &lt;!&ndash; whenever we receive a phone call this BR will be triggered &ndash;&gt;
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>
        -->
        <service
            android:name=".accessibility.GlobalActionBarService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/global_action_bar_service" />
        </service>

        <activity android:name=".audiorecord.edmt.AudioRecordEDMTActivity" /> <!-- call recorder -->
        <activity android:name=".callrecord.example2.CallRecorderExample2MainActivity" />
        <activity
            android:name=".callrecord.example2.SettingsActivity"
            android:label="@string/menu_settings"
            android:parentActivityName=".callrecord.example2.CallRecorderExample2MainActivity" />
        <activity
            android:name=".callrecord.example2.DirectoryChooserActivity"
            android:label="@string/app_name"
            android:parentActivityName=".callrecord.example2.SettingsActivity" />
        <activity
            android:name=".callrecord.example2.AboutActivity"
            android:label="@string/app_name"
            android:parentActivityName=".callrecord.example2.CallRecorderExample2MainActivity" />

        <receiver android:name=".callrecord.example2.PhoneReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
            </intent-filter>
        </receiver>

        <service android:name=".callrecord.example2.RecordService" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.callrecorder.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider> <!-- ////////////////////// -->
        <service
            android:name=".services.pluralsight.ipc.MyMessengerService"
            android:process=":my_own_process" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name=".workmanager.codelab.WorkManagerBlurrActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity android:name=".facebooksdk.FacebookSdkActivity" />
        <activity android:name=".jobscheduler.JobSchedulerActivity" />
        <activity android:name=".permissions.phonecall.PhoneCallPermissionActivity" />
        <activity android:name=".archcomponents.paging.ui.popularmovie.MoviesListActivity" />
        <activity android:name=".archcomponents.paging.ui.singlemoviedetails.SingleMovieActivity" />
        <activity android:name=".threading.codinginflow.HandlerActivity" />
        <activity android:name=".threading.codinginflow.ThreadActivity" />
        <activity android:name=".firebase.remoteconfig.RemoteConfigEDMTVActivity" />
        <activity android:name=".permissions.PermissionsActivity" />
        <activity android:name=".texttospeech.TextToSpeechActivity" />
        <activity android:name=".archcomponents.livedata.livedatatransformations.mediator.MediatorLiveDataActivity" />
        <activity android:name=".archcomponents.livedata.livedatatransformations.PokemonActivity" />
        <activity android:name=".archcomponents.livedata.livedatatransformations.PokemonDetailActivity" />
        <activity android:name=".archcomponents.livedata.extendinglivedatausingsensor.SensorLiveDataActivity" />
        <activity android:name=".rxjava2.hotobservables.HotObservablesActivity" />
        <activity android:name=".archcomponents.lifecycle.casterio.deepdive.LifecycleActivity" />
        <activity
            android:name=".databinding.ex2.view.ProfileActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".databinding.ex1.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".archcomponents.livedata.casterionewslist.NewsActivity" />
        <activity android:name=".highorderedfunandedittextlisteners.google.ui.SearchRepositoriesActivity" />
        <activity android:name=".archcomponents.paginganddatabinding.ui.search.SearchActivity" />
        <activity android:name=".archcomponents.paginganddatabinding.ui.bookmark.BookmarkActivity" />
        <activity android:name=".databinding.alimuzaffar.mvvmloadingbaseobservable.DogBreedsActivity" />
        <activity android:name=".databinding.livedatavsobservable_databindingbasicsample.ui.DataBindingTypesActivity" />
        <activity android:name=".databinding.livedatavsobservable_databindingbasicsample.ui.ViewModelActivity" />
        <activity android:name=".databinding.livedatavsobservable_databindingbasicsample.ui.ObservableFieldActivity" />
        <activity android:name=".multicheckrecyclerview.MultiCheckRecyclerActivity" />
        <activity android:name=".threading.codinginflow.RunOnUiThreadActivity" />
        <activity android:name=".permissions.CameraPreviewActivity" />
        <activity android:name=".callrecord.CallRecordActivity" />
        <activity android:name=".permissions.mywork.PermissionsActivity" /> <!-- mindorks coroutines activs -->
        <activity
            android:name="com.mindorks.example.coroutines.learn.retrofit.single.SingleNetworkCallActivity"
            android:label="@string/single_network_call" />
        <activity
            android:name="com.mindorks.example.coroutines.learn.retrofit.series.SeriesNetworkCallsActivity"
            android:label="@string/series_network_calls" />
        <activity
            android:name=".coroutines.mindorks.learn.retrofit.parallel.ParallelNetworkCallsActivity"
            android:label="@string/parallel_network_calls" />
        <activity
            android:name="com.mindorks.example.coroutines.learn.room.RoomDBActivity"
            android:label="@string/room_database" />
        <activity
            android:name="com.mindorks.example.coroutines.learn.timeout.TimeoutActivity"
            android:label="@string/timeout" />
        <activity
            android:name="com.mindorks.example.coroutines.learn.errorhandling.trycatch.TryCatchActivity"
            android:label="@string/try_catch_error" />
        <activity
            android:name="com.mindorks.example.coroutines.learn.errorhandling.exceptionhandler.ExceptionHandlerActivity"
            android:label="@string/exception_handler" />
        <activity
            android:name="com.mindorks.example.coroutines.learn.errorhandling.supervisor.IgnoreErrorAndContinueActivity"
            android:label="@string/ignore_error_and_continue" />
        <activity
            android:name="com.mindorks.example.coroutines.learn.task.onetask.LongRunningTaskActivity"
            android:label="@string/long_running_task" />
        <activity
            android:name="com.mindorks.example.coroutines.learn.task.twotasks.TwoLongRunningTasksActivity"
            android:label="@string/two_long_running_tasks" />
        <activity android:name=".coroutines.raywenderlich.snowy.SnowySplashActivity" />

        <service
            android:name=".jobscheduler.ExampleJobService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service android:name=".services.pluralsight.MyStartedService" />
        <service android:name=".services.pluralsight.MyIntentService" />
        <service android:name=".callrecord.RecordingService" />
        <!--
  this my_own_process is the name of the service inwhich the MYBoundService will run
       <service android:name=".services.pluralsight.boundservice.MyBoundService"  android:process=":my_own_process"/>
        -->
        <service android:name=".services.pluralsight.boundservice.MyBoundService" />
        <service
            android:name=".permissions.outgoingcalls.CallDetectionService"
            android:enabled="true"
            android:exported="false" />
        <service android:name=".services.codinginflow.ExampleForegroundService" />

        <receiver android:name=".permissions.outgoingcalls.CallDetector$OutgoingDetector" />
        <receiver android:name=".broadcastreceiver.pluralsight.MyFirstReceiver">
            <intent-filter>
                <action android:name="my.custom.action.name" />
                <action android:name="my.custom.action.name2" />
            </intent-filter>
        </receiver>
        <receiver android:name=".broadcastreceiver.codinginflow.ExampleBroadcastReceiver">
            <intent-filter>

                <!-- needs the upper permission -->
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver> <!-- start of   same action name for the next 3 receivers -->
        <receiver android:name=".broadcastreceiver.pluralsight.orderedbrs.OrderedReceiver1">
            <intent-filter android:priority="3">

                <!-- higher priority execution firstly with same action name -->
                <action android:name="my.action.name" />
            </intent-filter>
        </receiver>
        <receiver android:name=".broadcastreceiver.pluralsight.orderedbrs.OrderedReceiver3">
            <intent-filter android:priority="2">
                <action android:name="my.action.name" />
            </intent-filter>
        </receiver>
        <receiver android:name=".broadcastreceiver.pluralsight.orderedbrs.OrderedReceiver2">
            <intent-filter android:priority="1">
                <action android:name="my.action.name" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".broadcastreceiver.pluralsight.orderedbrs.OrderedResultReceiver"
            android:exported="false">
            <intent-filter>

                <!-- no priority -->
                <action android:name="my.action.name" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".services.neverending.SensorRestarterBroadcastReceiver"
            android:enabled="true"
            android:exported="true"
            android:label="RestartServiceWhenStopped" />

        <activity android:name=".broadcastreceiver.pluralsight.withpermissions.ReadPhoneStateActivity">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>

        <receiver android:name=".broadcastreceiver.pluralsight.withpermissions.CallReceiver">
            <intent-filter android:priority="999">
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>

        <service android:name=".services.neverending.SensorService" />
        <service android:name=".androiddevsrunningtracker.services.TrackingService" />

        <meta-data
            android:name="zain"
            android:resource="@string/no_results" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
    </application>

</manifest>